@import "../../../../../app/scss/variables";

.interfaceAside {
   height: 100%;
   padding: 2rem;
   background-color: $main-blue;
   overflow: auto;

   &__logo {
      width: 6.8rem;
      margin-bottom: 2.5rem;
   }

   &__buttons {
      display: flex;
      flex-direction: column;
      gap: 1rem;
   }
}
