@import "./variables";
@import "./libs/normalize";
@import "./libs/normalize";

@import "components/all";

body {
   color: $black;
   background-color: $main-background;
}

.text-color-blue {
   color: $main-blue;
}
