@import "../../../scss/variables";

.form {
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 1.25rem;

   &__item {
      width: 100%;

      &__labelBox {
         display: flex;
         color: $white;
         font-weight: medium;
         margin-bottom: 0.75rem;
      }

      &__label {
         font-weight: 500;
         font-size: 1.25rem;
         &_fix {
            max-width: 90%;
         }
      }
   }

   &__textarea {
      color: $white;
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 0.75rem;
      min-width: 100%;
      max-width: 100%;
      min-height: 11.75rem;
      max-height: 11.75rem;
      padding: 1rem;
      font-size: 0.9rem;
      font-weight: 400;

      &_resize {
         min-height: 5rem;
         max-height: 10rem;
      }

      &::placeholder {
         color: $white-08;
      }
   }

   &__btnsBox{
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-top: 2rem;
   }

   &__btn{
      &_light{
         opacity: 0.6;
      }
   }
}
