@import "../../../app/scss/variables";

.interfaceWrapper {
   display: grid;
   grid-column-gap: 0px;
   grid-row-gap: 0px;
   flex: 1;
   grid-template-rows: auto;
   grid-template-columns: 25rem 1fr;
   height: 100vh;
   background-color: $main-background;
}