@import '../../../scss/variables';

.error {
   text-align: center;
   width: 31.25rem;

   &__icon {
      margin-bottom: 0.5rem;
   }

   &__title {
      font-size: 1rem;
      font-weight: 500;
      margin-bottom: 0.25rem;
   }

   &__description {
      color: $dark-text;
      font-size: 0.75rem;
   }

   &__btns {
      display: flex;
      gap: 0.75rem;
      margin-top: 1.3rem;
   }
}
