$black: #000;
$black-02: rgba(0, 0, 0, 0.2);

$white: #fff;
$white-02: rgba(255, 255, 255, 0.2);
$white-03: rgba(255, 255, 255, 0.3);
$white-08: rgba(255, 255, 255, 0.8);

$main-background: #f7f7f7;
$dark-text: #868686;
$main-blue: #008cff;

$grey: #868686;
$light-grey: #f2f4f7;

$container-width: 90%;

$duration: 0.2s;
