@import "../../../app/scss/variables";

.input[type="checkbox"] {
   display: none;
}

.input + label::before {
   content: "";
   display: block;
   border: 1px solid $black;
   border-radius: 0.25rem;
   width: 1rem;
   height: 1rem;
   cursor: pointer;
}

.input:checked + label::before {
   background-color: rgba(56, 152, 236, 0);
   background-image: url(../../../assets/img/checkbox.svg);
   background-size: 10px 10px;
   background-repeat: no-repeat;
   background-position: 50%;
}

.input[type="checkbox"].error + label::before {
   border-color: red;
}

